<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="/imgs/me.jpg" id="gravatar" class="profile-pic" alt="My photo"/>
    {% else %}
    <img src="/imgs/me.jpg" id="logo" class="profile-pic" width="200" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I am a deep learning researcher at <a href="https://cs.hse.ru/en/big-data/bayeslab/">Samsung AI Lab</a> of the 
      <a href="https://cs.hse.ru/en/">Higher School of Economics</a>. 
      At HSE I also teach machine learning to Bachelor and Master students.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
