<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="/imgs/me.jpg" id="gravatar" class="profile-pic" alt="My photo"/>
    {% else %}
    <img src="/imgs/me.jpg" id="logo" class="profile-pic" width="200" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A brief bio or something witty.</p>
    <p>
      Edit me in <code>_includes/sidebar.html</code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
