<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="/imgs/me.jpg" id="gravatar" class="profile-pic" alt="My photo"/>
    {% else %}
    <img src="/imgs/me.jpg" id="logo" class="profile-pic" width="200" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> <a href="https://www.hse.ru/en/org/persons/191576735">Personal page at university</a> / 
    <a href="https://www.hse.ru/data/2018/11/19/373552475231823/Curriculum_Vitae_Chirkova.pdf">CV</a> / 
    <a href="https://scholar.google.ru/citations?user=8ovzJjEAAAAJ&hl=ru">Google Scholar</a> / 
       <a href="https://twitter.com/nadiinchi">Twitter</a> / 
      <a href="https://www.facebook.com/nadiinchi">Facebook</a>
    </p>
  </div>
  /*
  <div id="social">
    {% include social.html %}
  </div>
  */
</nav>
